.settings-wrapper {
    width: 65%;
    float: right;
    position: relative;
    padding-right: 0;
    margin-left: 2em;
    margin-right: 4em;
    font-family: 'ridi-batang',serif;
}

.settings-wrapper .settings-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .settings-update-title {
        font-size: 3em;
        color: #123123;
        cursor: pointer;
    }

    .settings-delete-title {
        font-size: 2em;
        color: #123123;
        cursor: pointer;
    }
}

.settings-wrapper .settings-form {
    display: flex;
    flex-direction: column;
    // font-family: 'Spoqa Han Sans Neo',sans-serif;

    >label {
        font-size: 2em;
        margin-top: 1em;
        >span {
            font-size: .8em;
            margin-left: 1em;
            color: #808b87;
        }
    }

    .settings-profile-img {
        float: left;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em 0;

        >img {
            width: 14em;
            height: 14em;
            border-radius: 50%;
            object-fit: cover;
        }
        
        .settings-profile-img-icon {
            position: absolute;
            right: 40%;
            bottom: 0;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            font-size: 2.4em;
            background-color: #123123;
            cursor: pointer;
        }
    }

    .settings-profile-wrap {
        float: right;
        display: flex;
        flex-direction: column;
        >label {
            font-size: 2em;
            margin-top: 2em;
            >span {
                font-size: .8em;
                margin-left: 1em;
                color: #808b87;
            }
        }

        >input {
            padding: .5em .2em;
            width: 98.4%;
            margin-top: .5em;
            font-size: 1.8em;
            border: none;
            border: .15em solid #8cab9d;
            border-radius: .2em;
            outline: 0em solid #a2c7b7;
            transition: outline .1s ease-in-out;
            &:hover {
                outline: .25em solid #c8e6d9;
            }
            &:focus {
                outline: .25em solid #c8e6d9;
            }
        }
    }
    .settings-bio {
        padding: .5em .2em;
        width: 98.4%;
        margin-top: .5em;
        font-size: 1.8em;
        border: none;
        border: .15em solid #8cab9d;
        border-radius: .2em;
        outline: 0em solid #a2c7b7;
        transition: outline .1s ease-in-out;
        &:hover {
            outline: .25em solid #c8e6d9;
        }
        &:focus {
            outline: .25em solid #c8e6d9;
        }
    }

    .settings-submit {
        margin: 2em 0;
        padding: 1em 2em;
        width: 15em;
        align-self: center;
        border: none;
        border-radius: 1em;
        font-size: 1.6em;
        color: #ffffff;
        background-color: #123123;
        cursor: pointer;
        transition: background-color .2s ease-out;
        &:hover {
            background-color: #3e6e58;
        }
        &:disabled {
            background-color: #a1b6ac;
            cursor: not-allowed;
        }
    }
}

.settings-error {
    margin-top: 1em;
    font-size: 1.2em;
    font-family: 'Spoqa Han Sans Neo',sans-serif;
}
