.sidebar {
    flex: 2;
    height: min-content;
    margin-left: 4em;
    padding-bottom: 3em;
    border-radius: 1em;
    position: sticky;
    top: 10em;
    
    @media only screen and (max-width: 1229px) {
        display:none;
    }

    .sidebar-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .sidebar-title {
            margin: 1em 0;
            padding: .5em 0;
            font-size: 1.2em;
            border-bottom: 1px solid #123123;
            color: #222;
            font-weight: 600;
            line-height: 2em;
            text-align:center;
            
        }

        >img {
            margin: auto;
            margin-top: 1.5em;
            width: 15em;
            height: 15em;
            border-radius: 50%;
            object-fit: cover;
        }
    
        >p {
            word-break: break-all;
            padding: 3em 0;
            font-size: 1.3em;
        }

        .sidebar-list {
            list-style: none;
            margin-bottom: 3em;
            padding: 0;
            margin: 9;

            .sidebar-list-item {
                text-align: center;
                display: inline-block;
                margin-top: 1.5em;
                cursor: pointer;
                font-size: 1.6em;
            }
        }

        .sidebar-social {
            margin-top: 1.5em;
            padding: 0;
            width: 25em;
            display: flex;
            gap: 1.5em;
            align-items: center;
            justify-content: center;

            .sidebar-icon {
                font-size: 2.4em;
                cursor: pointer;
            }
        }
    }
    
    
}

