.top-group {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 100;
}

.top-wrapper {
    max-width: 128em;
    margin: auto;
    
    .top {
        padding: 1em 0;
        display: flex;
        justify-content: space-between;
        // height: 100%;
        height: 5em;
        // top: 0;
        /* font-family: 'Noto Serif KR', serif; */
        margin: 0 4em;
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
        @media only screen and (max-width:959px) {
            display: none;
        }
    
        %base-top {
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
    
        .top-left {
            @extend %base-top;
            
            .top-logo {
                font-family: 'Noto Serif KR', serif;
                font-size: 3em;
                margin-right: 1em;
                color: #123123;
                text-decoration: none;
                white-space: nowrap;
                cursor: pointer;
            }
        }
        
    
        .top-right {
            @extend %base-top;
            
            .top-right-list {
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;

                .top-right-item {
                    position: relative;
                    margin-left: 2em;
                    cursor: pointer;
                
                    .link {
                        font-size: 1.6em;
                        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
                    }

                    .write-button {
                        padding: .4em 1em;
                        font-size: 1.6em;
                        color: #ffffff;
                        border-radius: .2em;
                        background-color: #123123;
                        text-decoration: none;
                    }

                    .top-img {
                        width: 4em;
                        height: 4em;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }
            
            .top-search-icon {
                font-size: 1.8em;
                color: #444;
                cursor: pointer;
                margin-left: 1.5em;
            }
        }
    }
}

.top-right-item {
    .personal-menu {
        clip: rect(1px 1px 1px 1px);
        width: max-content;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        padding: 1em 0;
        font-weight: 400;
        color: #6a6f6d;
        border-radius: .5em;
        background-color: #ffffff;
        box-shadow: 0px 10px 50px rgb(0 0 0 / 10%);
    
        hr {
            margin: 0 2em;
            border: 0;
            height: .01em;
            background-color: #cee3dd;
        }
    
        .personal-menu-item {
            margin: .6em .8em;
            padding: .5em 1.2em;
            list-style: none;
            border-radius: .5em;
            &:hover {
                background-color: #ebf4f0;
            }
            
            &-logout {
                margin: .8em .8em 0;
                padding: .5em 1.2em;
                list-style: none;
                border-radius: .5em;
                .link {
                    text-decoration: none;
                }
                &:hover {
                    background-color: #ebf4f0;
                }
            }
        }
    }

    &:hover .personal-menu{
        clip:auto;
    }
} 

.top-mobile-nav {
    display: none;
    position: relative;
    padding: 2em 4em;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    @media only screen and (max-width:959px) {
        display: flex;
    }
    @media only screen and (max-width:414px){
        padding: 2em 1.8em;
    }
    .top-mobile-menu {
        .top-mobile-icon {
            font-size: 3em;
        }

    }
    .top-mobile-logo {
        position: absolute;
        left: 50%;
        margin-bottom: 0.7em;
        transform: translateX(-50%);
        >strong {
            font-family: 'Noto Serif KR',serif;
            font-weight: 700;
            font-size: 3em;
        }
    }
    .top-mobile-write {
        >a {
            padding: 0.4em 1em;
            font-size: 1.6em;
            color: #ffffff;
            border-radius: 0.2em;
            background-color: #123123;
            text-decoration: none;
        }
    }
}


.top-mobile-cont {
    position: relative;
    margin: 0 4em;
    height: 0vh;
    // height: 100vh;
    transform: translateY(-100em);
    // transform: translateY(10px);
    transition: all .3s ease-out;
    z-index: 1;
    @media only screen and (max-width:414px){
        margin: 0em 1.8em;
    }
    .top-mobile-list {
        margin: 0;
        padding: 0;
        list-style-type: none;

        .top-mobile-item-profile {
            margin: 2em 0;
        }
    }
}

.top-mobile-toggle-checker {
    display: none;
    &:checked ~ .top-mobile-cont {
        @media only screen and (max-width:959px) {
            height: 93vh;
            transform: translateY(1em);
        }
    }
}

.top-mobile-search-form {
    display: flex;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    border: .2em solid #123123;
    border-radius: .4em;
    &:hover {
        outline: .2em solid #a7bcb3;
    }

    .top-mobile-search-icon {
        margin-left: .5em;
        font-size: 2em;
    }
    .top-mobile-search-input{
        padding: .5em;
        border: .1em solid #123123; 
        border-radius: .2em;
        width: 100%;
        border: none;
        background-color: transparent;
        font-size: 2em;
        &:focus {
            outline: none;
        }
    }
}

.top-mobile-profile-img {
    width: 5em;
    height: 5em;
    border-radius: 5em;
    object-fit: cover;
    vertical-align: middle;
}
.top-mobile-profile-name {
    margin-left: 1em;
    font-size: 2.4em;
    vertical-align: middle;
}
.top-mobile-profile-bio {
    margin-top: 1em;
    font-size: 1.4em;
    line-height: 1.5;
}

.top-mobile-item-link {
    display: block;
    line-height: 2;
    font-size: 2.4em;
    color: #6a6f6d;
    text-decoration: none;
    border-bottom: .05em solid #eeeeee;
}