.password-section {
    float: right;
    position: relative;
    width: 65%;
    padding-right: 0;
    margin-left: 2em;
    margin-right: 4em;
    @media only screen and (max-width:959px) {
        width: unset;
        float: unset;
        position: relative;
        padding-right: 0;
        margin: 7em 4em 0;
        font-family: "ridi-batang", serif;
    }
    @media only screen and (max-width:414px){
        margin: 7em 1.8em 0;
    }
}

.password-section-title {
    font-family: "ridi-batang",serif;
    font-weight: 400;
    font-size: 3em;
    color: #123123;
    cursor: pointer;
}

.password-form {
    font-family: "ridi-batang",serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    .password-old-label {
        display: block;
        margin-top: 2em;
        font-size: 1.6em;
        align-self:flex-start;
    }
    .password-old-input {
        padding: .2em .2em;
        width: 98.4%;
        margin-top: .5em;
        font-size: 2.4em;
        border: none;
        border: .1em solid #8cab9d;
        border-radius: .2em;
        outline: 0em solid #a2c7b7;
        transition: outline .1s ease-in-out;
        &:hover {
            outline: .2em solid #c8e6d9;
        }
        &:focus {
            outline: .2em solid #c8e6d9;
        }
    }
    .password-new-label {
        display: block;
        margin-top: 2em;
        font-size: 1.6em;
        align-self:flex-start;
    }
    .password-new-input {
        padding: .2em .2em;
        width: 98.4%;
        margin-top: .5em;
        font-size: 2.4em;
        border: none;
        border: .1em solid #8cab9d;
        border-radius: .2em;
        outline: 0em solid #a2c7b7;
        transition: outline .1s ease-in-out;
        &:hover {
            outline: .2em solid #c8e6d9;
        }
        &:focus {
            outline: .2em solid #c8e6d9;
        }
    }
    .password-error {
        display: block;
        margin-top: 1em;
        font-size: 1.2em;
        font-family: 'Spoaq Han Sans Neo',sans-serif;
        align-self:flex-start;
    }

    .password-submit {
        display:block;
        width: 9em;
        margin: 2em 0 3em;
        border: none;
        padding: 1em 2em;
        border-radius: .5em;
        font-size: 1.6em;
        color: #ffffff;
        background-color: #123123;
        cursor: pointer;
        &:hover {
            background-color: #3e6e58;
        }
        &:disabled {
            background-color: #a1b6ac;
        }
    }
}